# All of these .env values are optional, they are mostly just for testing.

TEST_PASSWORD=
# These variables are optional, they are for the SSH testing in ssh_handler.rs.
SSH_USERNAME=username
SSH_HOST=localhost
SSH_PORT=22

# The user for the Home directory testing in main.rs.
HOME_USER=